/* .box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-top: 15px;
  border: 15px solid blue;
} */

/* .box1 { */
/* Giá trị mặc định */
/* box-sizing: content-box; */
/* Kích thước của hộp là kích thước cảu phần content */
/* Phần content kích thước 100x100 */
/* Nên phần viền nó phình ra bên ngoài */
/* } */

/* .box2 { */
/* Giá trị mặc định */
/* box-sizing: border-box; */
/* Set kích thước hộp là kích của viền đổ vào trong */
/* Tổng kích thước phần tử gồm nội dung và viền lúc nào cũng là 100 x 100 */
/* Nên nó bóp phần content bên trong lại */
/* } */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  /* 1.6 rem = 16px */
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

/***************************************** CSS dùng chung (Common CSS) *****************************************/
a {
  text-decoration: none;
  cursor: pointer;
  /* cursor: pointer; dùng để hiện icon bàn tay
  khi người dùng rê chuột vào thẻ a */
}

li {
  list-style: none;
}
button {
  cursor: pointer;
  /* cursor: pointer; dùng để hiện icon bàn tay
  khi người dùng rê chuột vào thẻ button */
}

/* Khai báo biến CSS (custom properties) trong phần tử gốc :root*/
:root {
  --primary-text-color: #171100;
  --secondary-text-color: #5f5b53;
  --background-color: #fffcf4;
  --white-color: #fff;
  --font-heading: Sen, sans-serif;
  --primary-accent-color: #ffb900;
}
/* :root là selector đại diện cho phần tử gốc của tài liệu HTML (thường là <html>)*/
/* Các biến CSS được khai báo bằng cú pháp --tên-biến */
/* Sau đó, bạn có thể sử dụng lại biến đó ở bất kỳ đâu bằng var(--tên-biến)*/
/* --primary-text-color: Màu chữ chính (đen nâu đậm)*/
/* --background-color: Màu nền (vàng kem nhạt) */
/* --white-color: Màu trắng */

/***************************************** Header Section *****************************************/

.header {
  background-color: var(--background-color);
  padding-top: 44px;
  padding-bottom: 44px;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* short hand: "margin: 0 auto;" */
  max-width: calc(100% - 24px);
  /* Cú pháp max-width: calc(100% - 24px); nghĩa là
  lấy 100% chiều rộng full của khung nhìn trừ đi 24 px
  tức là trừ đi 12px ở mỗi bên trái/phải 
  tức là bất kể khung hình có độ rộng bao nhiêu 
  luôn chừa 2 lề 2 bên, mỗi bên 12 px
  Lý do nó luôn trừ đều 2 bên là do mình căn giữa rồi */
}

.btn {
  width: 144px;
  line-height: 50px;
  text-align: center;
  background-color: var(--primary-text-color);
  color: var(--white-color);
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  /* Ở đây sử dụng line-height: 50px; thay cho height: 50px;
  thì chiều cao nút vẫn là 50 px và được thêm cái là 
  chữ Sign Up tự động canh giữa thoe chiều dọc */
  /* Thêm text-align: center; Để canh giữa chữ Sign Up theo chiều ngang */
}

.header .body {
  display: flex;
  align-items: center;
  /* Thêm dòng align-items: center; để căn giữa chữ Sign Up theo trục dọc */
}
/* Định dạng thanh navigation */
.header nav {
  display: flex;
  margin-left: auto;
  /* Thêm margin-left: auto; để kéo thanh navigation qua phải */
  /* Do thằng sign up nó nằm bên phải thanh navigation
  nên khi thanh này bị kéo qua phải, thì nút "Sign Up" cũng bị kéo qua luôn */
}
/* Định dạng từng nút Home/Course/Pricing/Reviews */
.header nav a {
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
  /* Sử dụng padding-left/right 21px ở đây là vì 
  các nút phía trên cách nhau 1 khoản bằng nhau là 42px */
  /* Nút Home đang cách nút course tới 43px là do 
  chữ "Home" nó đậm hơn nên khoản cách no xa ra thêm 1px */
  /* Ở đây dùng margin cũng cách ra được, nhưng phải bấm chính xác vào chữ mới được
  Còn nếu dùng padding thì diện tích bấm tăng ra xung quang, 
  nên chỉ cần để chuột gần chữ là đã bấm được rồi */
}
/* Tạo hiệu ứng bóng mờ khi rê chuột vào chữ */
/* Sử dụng Pseudo class: Lớp giả */
.header nav a:hover {
  color: var(--primary-text-color);
  text-shadow: 1px 0 0 currentColor;
  /* Cú pháp text-shadow trên có nghĩa là:
  bóng dịch sang phải 1px, ko dịch lên xuống
  ko làm mờ và sử dụng màu của thuộc tính hiện tại
  sử dụng "currentColor" để tái sử dụng code
  */
}
/* Tạo hiệu ứng chữ in đậm khi click vào, như chữ "Home" bên trên */
.header nav a.active {
  font-weight: 600; /*Tức là 16px*/
  /* Kiểu thường trên figgma là regular, thường có mức đậm là 400
  Trong bài này chữ này in đâm ở mức "semibold" là trên 2 bậc
  lấy độ đậm là font-weight: 600 */
  color: var(--primary-text-color);
  position: relative;
  /* Thêm position: relative; cho hiệu ứng này, 
để làm mốc tọa độ cho hiệu ứng gạch chân bên dưới
để cái hiệu ứng gạch chân bên dưới đi theo cái hiệu ứng này luôn */
  /* Sử dụng JavaScript để chuyển class="active" này cho nút được click vào
Khi đó nút được chọn sẽ được in đậm lên */
}

/* Tạo hiệu ứng dấu gạch chân nhỏ khi click vào */
/* Sử dụng Pseudo element (Phần tử giả) */
.header nav a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background: var(--primary-text-color);
  display: block;
  /* Do phần tử giả này mặc định display là inline
  Nên để nó hiển thị ở 1 dòng riêng thì đổi lại display: block */
  position: absolute;
  /* Để postion absolute để dthoát phần tử này khỏi luồng dữ liệu */
  top: 23px;
  left: 22px;
  /* Sử dụng top /left để điều chỉnh phần tử đến vị trí mong muốn
  so với mốc tọa độ ở hiệu ứng trên */
}

/* Làm nút sign-up */
/* Ở đây lấy class ="btn-sign-up" để viết nút riêng trước
Nút chung tí mình sửa sau*/
.header .body .btn-sign-up {
  margin-left: 49px;
  /* Thêm margin left 49px ở đây vì 
  khoản cách giữa nút sign up với review trong bài mẫu là 70px
  mà chữ Review đã có padding-right là 21px rồi, 
  nên chữ Sign Up thêm margin-left 49px nữa là được */
}

/* End CSS cho Header Section */

/***************************************** Hero section *****************************************/
.hero {
  background-color: var(--background-color);
  padding-top: 44px;
  padding-bottom: 44px;
}
.hero .main-content {
  display: flex;
}
.hero .left-box {
  width: 48.7%;
  /* Ko dùng px mà dùng % vì nó là đơn vị tương đối
Nó sẽ chia theo kích thước của thiết bị  */
  position: relative;
}

.hero .left-box > img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.hero .left-box .summary {
  width: 270px;
  height: 244px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 24px;
  position: absolute;
  right: 0px;
  bottom: 50px;
}
.hero .left-box .item {
  display: flex;
  /* Để hiện thị icon và chữ nằm ngang */
  align-items: center;
  /* Để căn icon nằm và chữ nằm thẳng hàng với nhau */
  margin: 7px 0;
  /* top margin và bottom margin là 7px, và left-right margin là 0 */
}
.hero .left-box span {
  display: block;
}
.hero .left-box .icon {
  margin-right: 16px;
  /* Chỉ viết margin-right là để nó cách 1 phần chữ ra 16px */
  width: 48px;
  height: 48px;
}

.hero .left-box .course-content span:first-child {
  font-size: 1.4rem;
  line-height: 26px;
}
.hero .left-box .course-content span:last-child {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}
.hero .left-box .summary .item:first-child {
  margin-top: 0px;
}
.hero .left-box .summary .item:last-child {
  margin-bottom: 0px;
}
.hero .right-box {
  width: 51.3%;
  padding-left: 116px;
  /* Dùng padding left thêm ở đây 
  vì phát hiện nội dung cách 1 khoản so với lề trái
  Khoản cách cách ra theo trên figma là 130px
  Nhưng thầy giảm còn 116px để nó thẳng hàng nút Sign-Up bên trên */
}

.hero .right-box h1 {
  width: 488px;
  /* Trong này chỉ set width ko set height */
  /* Số width theo figma là 470px, thầy tăng lên 488px để chữ dồn về 3 dòng */
  /* Chỗ này thầy nó có thể tăng giảm để nó khớp với bài mẫu */
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -0.116rem;
  color: var(--primary-text-color);
}

.hero .right-box .desc {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--secondary-text-color);
  margin-top: 28px;
  /* Khoản cách với tiêu đề là 28px */
  margin-bottom: 38px;
  /* Khoản cách với 2 nút bên dưới là 38px */
}

.hero .right-box .call-to-action {
  display: flex;
}
.hero .right-box .btn-see-courses {
  width: 180px;
  line-height: 64px;
  background-color: #ffb900;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  height: 64px;
  /*Chỗ height: 64px; này phải thêm vào để nó set height về 64px
  Nếu ko để,thì nó tự động tính sao đó ra height=81px*/
  font-weight: 600;
  font-size: 1.8rem;
}

.hero .right-box .btn-watch-video {
  display: flex;
  background: none;
  border: none;
  align-items: center;
  margin-left: 28px;
  height: 64px;
  /* Thêm margin-left để cách nút "See Courses" ra 1 khoản 28px */
  /* Set height: 64px; đẻ có cùng chiều cao với nút "See Courses" */
}

.hero .right-box .btn-watch-video > span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 64px;
  /* margin-top: -10px; */
  /* align-items: center; */
  /* Cái margin-top: -10px; là thầy canh bằng mắt,
tự điền vào để đẩy chữ vào giữa thôi, sử dụng align-items: center; ko được */
}

.hero .right-box .btn-watch-video > img {
  width: 80px;
  height: 80px;
  margin-top: 12px;
  /* icon là ảnh (<img>) nên không tự căn giữa theo chiều dọc trong flex container
Dùng margin-top: 10px để căn giữa cho nhanh
  /* vertical-align: middle; */
  /* Dùng vertical-align: middle; ko ngon bằng margin-top: 12px */
  /* vertical-align: middle; chekc bằng mắt thấy vẫn chưa giữa
  dùng margin-top: 12px tự điều chỉnh căn giữa thấy giữa hơn*/
}
.hero .right-box .recent-engagement {
  display: inline-block;
  width: 186px;
  height: 30px;
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--secondary-text-color);
  margin-top: 48px;
}

.hero .right-box .stats {
  display: flex;
  margin-top: 8px;
}

.hero .right-box .stats > .item {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 54px;
  color: var(--primary-text-color);
}

.hero .right-box .stats > .item:last-child {
  margin-left: 29px;
}

.hero .right-box .stats span {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--secondary-text-color);
  padding-left: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
/***************************************** Our Popular Courses *****************************************/
.popular-courses {
  padding-top: 200px;
  padding-bottom: 200px;
}
.popular-courses .info-box {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-between; dùng để 
  dàn đều các phần tử sang 2 bên. 
  Trong thẻ div class="info-box" có 2 phần tử 
  đã được dàn ra ngang bằng flex, giờ dùng thêm 
  justify-content: space-between; để nó dàn ra 2 bên*/
  align-items: center;
  /* Dùng để căn 2 nút mũi tên nằm giữa với 2 đoạn text bên trái*/
}
.popular-courses .info-box h2 {
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -0.076rem;
  color: var(--primary-text-color);
}
.popular-courses .info-box p {
  width: 458px;
  height: 60px;
  /* Set width và height cho thẻ p này để đoạn văn xuống dòng
  nhu trong bài mẫu */
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--secondary-text-color);
  margin-top: 16px;
  /* margin top để cách với heading bên trên */
}
/* Để tạo nút mũi tên về trước */
.popular-courses .pre-next-button button:first-child,
.popular-courses .pre-next-button button:last-child {
  background: white;
  border: 1px solid var(--primary-accent-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
/* Để tạo nut mũi tên về sau */
.popular-courses .pre-next-button button:last-child {
  background: var(--primary-accent-color);
  border: 1px white;
  margin-left: 18px;
  /* Mũi tên sau sẽ lấy các thuộc tính của mũi tên trước
và đổi thêm 1 vài thông số dưới đây thôi */
}
.popular-courses .courses-list {
  display: flex;
  gap: 30px;
  /* Sử dụng thuộc tính gap để set khoản cách cho các phần tử
  Như trong ví dụ này là 30px giữa các phần tử */
  margin-top: 55px;
}
.popular-courses .course-item {
  box-shadow: 2px 4px 12px -10px #5f5b53;
}
.popular-courses .course-item .thumbnail {
  width: 370px;
  height: 270px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.popular-courses .course-item .course-info {
  padding: 22px;
  /* Dùng để cách phần nội dung ra so với lề 22px */
}
.popular-courses .course-info h3 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}
.popular-courses .course-info .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text-color);
}

.popular-courses .course-info .heading span {
  color: var(--primary-accent-color);
  font-size: 1.6rem;
  line-height: 28px;
  margin-top: 1px;
  margin-left: 6px;
}
.popular-courses .course-info .heading img {
  width: 18px;
  height: 18px;
}
.popular-courses .course-info .heading div {
  display: flex;
  align-items: center;
}
.popular-courses .course-info .desc {
  font-size: 1.4rem;
  line-height: 26px;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}
.popular-courses .course-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-courses .course-price span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}
.popular-courses .course-price .btn-book-now {
  background-color: var(--primary-text-color);
  color: white;
}
.popular-courses .course-price .btn-book-now:hover {
  background-color: var(--primary-accent-color);
}
/***************************************** Testimonials *****************************************/
.testimonials {
  background-color: #2e2100;
  color: white;
  padding-top: 104px;
  /* padding-left: 55px; */
  /* Ko cần padding-left ở đây, để nó thẳng hàng 
  với các phần tử ở sections trên luôn */
  padding-bottom: 88px;
}
.testimonials .main-content {
  display: flex;
  justify-content: space-between;
}
.testimonials .left-box .avatar {
  width: 72px;
  height: 72px;
}
.testimonials .left-box .author {
  display: block;
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 34px;
  color: #f7f7f7;
  margin-top: 18px;
}
.testimonials .left-box .position {
  font-size: 1.4rem;
  line-height: 26px;
  color: #bfbcb2;
  margin-top: 4px;
  margin-bottom: 28px;
  display: block;
}
.testimonials .left-box .slides {
  display: flex;
  gap: 6px;
}
.testimonials .left-box .slides .slide-item {
  width: 6px;
  height: 6px;
  background-color: #634700;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
}
.testimonials .left-box .slides .active {
  background-color: var(--primary-accent-color);
}
.testimonials .right-box {
  width: 770px;
  position: relative;
}
.testimonials .right-box img {
  position: absolute;
}
.testimonials .right-box .quote {
  font-style: italic;
  font-size: 2.6rem;
  line-height: 40px;
  position: absolute;
  top: 30px;
  left: 30px;
}
/***************************************** Learner outcomes *****************************************/
.Learner-outcomes .upper {
  display: flex;
  padding-top: 200px;
  padding-bottom: 100px;
  gap: 30px;
  /* Trên này 3 phần tử nên ko để justify-content: space-between; được 
  Nếu bọc cả 2 hình trong 1 thẻ div thì vẫn được mà chưa cần*/
}
.Learner-outcomes .upper img {
  width: 270px;
  height: 405px;
}
.Learner-outcomes .upper > :first-child {
  margin-top: 34px;
}

.Learner-outcomes .upper .upper-content {
  padding-top: 58px;
  padding-bottom: 58px;
  padding-left: 100px;
}
/* Chỉnh tiêu đề */
.Learner-outcomes .upper h3 {
  width: 500px;
  height: 96px;
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 3.8rem;
  line-height: 48px;
  letter-spacing: -0.076rem;
}
/* Chỉnh đoạn văn */
.Learner-outcomes .upper p {
  width: 458px;
  height: 84px;
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 28px;
  color: var(--secondary-text-color);
}

/* Chỉnh câu ngắn */
.Learner-outcomes .upper span {
  display: block;
  width: 458px;
  height: 28px;
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 28px;
  color: var(--secondary-text-color);
}

/* Chỉnh nút */
.Learner-outcomes .upper a {
  display: block;
  width: 137px;
  height: 50px;
  margin-top: 32px;
  padding: 11px 37px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 28px;
  color: var(--white-color);
  background-color: #ffb900;
  border: none;
}

.Learner-outcomes .lower {
  display: flex;
  padding-top: 100px;
  padding-bottom: 200px;
  justify-content: space-between;
}

.Learner-outcomes .lower img {
  width: 470px;
  height: 440px;
}

.Learner-outcomes .lower .lower-content {
  padding-top: 71px;
  padding-bottom: 71px;
  /* Ở đây ko cần set padding-left vì mình 
  đã dùng justify-content: space-between; 
  để tách 2 phần tử ra 2 bên rồi */
}

.Learner-outcomes .lower h3 {
  width: 570px;
  height: 144px;
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 3.8rem;
  line-height: 48px;
  letter-spacing: -0.076rem;
}

.Learner-outcomes .lower p {
  width: 570px;
  height: 56px;
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 28px;
  color: var(--secondary-text-color);
}
/* Chỉnh nút */
.Learner-outcomes .lower a {
  display: block;
  width: 137px;
  height: 50px;
  margin-top: 32px;
  padding: 11px 30px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 28px;
  color: var(--white-color);
  background-color: #ffb900;
  border: none;
}
/***************************************** Our blog *****************************************/
.Our-blog {
  background-color: #fffcf4;
}
.Our-blog .main-content {
  padding-top: 96px;
  padding-bottom: 96px;
}
.Our-blog .main-content h3 {
  font-family: var(--font-heading);
  text-align: center;
  font-weight: bold;
  font-size: 3.8rem;
  line-height: 48px;
  letter-spacing: -0.076rem;
  color: #130606;
}

.Our-blog .main-content > p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 448px;
  height: 56px;
  font-size: 1.6rem;
  line-height: 28px;
  color: #696262;
  margin-top: 16px;
  margin-bottom: 55px;
}
.Our-blog .blog-item-list {
  display: flex;
  gap: 30px;
}

.Our-blog .item {
  background-color: var(--white-color);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Our-blog .item-content {
  padding: 20px;
}
.Our-blog .date {
  display: flex;
  align-items: center;
}
.Our-blog .dot {
  width: 6px;
  height: 6px;
  background-color: #ffb900;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  margin-right: 4px;
}
.Our-blog .date span {
  font-size: 1.4rem;
  line-height: 26px;
  color: var(--secondary-text-color);
}
.Our-blog .line {
  width: 160px;
  height: 1px;
  background-color: #e2dfda;
  margin: 12px 0px;
}
.Our-blog .item-content p {
  width: 330px;
  height: 56px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 28px;
}
.Our-blog .item-content a {
  display: block;
  width: 118px;
  height: 50px;
  padding: 12px 21px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 26px;
  color: var() --white-color;
  background-color: var(--primary-text-color);
  border: none;
  margin-top: 12px;
}

.Our-blog .item-content .btn-read-more-active {
  background-color: #ffb900;
}
.Our-blog .slides {
  display: flex;
  align-items: center;
  margin-top: 38px;
  justify-content: center;
  /* Ở đây ko dùng margin-left-right được, chỉ dùng justify-content mới căn giữa được*/
}
.Our-blog .slides .slide-item {
  width: 6px;
  height: 6px;
  background-color: var(--secondary-text-color);
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  margin: 0px 3px;
}
.Our-blog .slides .active {
  background-color: var(--primary-accent-color);
}
/***************************************** Footer *****************************************/
.footer {
  background-color: #2e2100;
  padding-top: 96px;
  height: 428px;
}

.footer .footer-structure {
  display: flex;
  justify-content: space-between;
}

.footer .lesson p {
  margin: 18px 0px;
  height: 78px;
  width: 267px;
  font-size: 1.4rem;
  line-height: 26px;
  color: #bfbcb2;
}
.footer .social-network-icons img {
  width: 18px;
  height: 15px;
  margin-right: 9px;
}

.footer .info {
  display: flex;
  gap: 130px;
}

.footer .info h3 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 28px;
  color: var(--white-color);
}
.footer .info .line {
  width: 130px;
  height: 1px;
  background-color: #59554b;
  margin-top: 14px;
  margin-bottom: 28px;
}
.footer .info p {
  font-size: 1.4rem;
  line-height: 26px;
  color: #bfbcb2;
  margin-bottom: 12px;
}
.footer .address {
  width: 231px;
}

.footer .address strong {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 26px;
  color: var(--white-color);
}

.footer .line2 {
  width: 1170px;
  height: 1px;
  background-color: #59554b;
  margin-top: 38px;
  margin-bottom: 28px;
}

.footer .main-content > p {
  font-size: 1.4rem;
  line-height: 26px;
  color: #807d74;
  text-align: center;
}
