/* .box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-top: 15px;
  border: 15px solid blue;
} */

/* .box1 { */
/* Giá trị mặc định */
/* box-sizing: content-box; */
/* Kích thước của hộp là kích thước cảu phần content */
/* Phần content kích thước 100x100 */
/* Nên phần viền nó phình ra bên ngoài */
/* } */

/* .box2 { */
/* Giá trị mặc định */
/* box-sizing: border-box; */
/* Set kích thước hộp là kích của viền đổ vào trong */
/* Tổng kích thước phần tử gồm nội dung và viền lúc nào cũng là 100 x 100 */
/* Nên nó bóp phần content bên trong lại */
/* } */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  /* 1.6 rem = 16px */
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

/* **************** */
/* CSS dùng chung (Common CSS) */
a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* Khai báo biến CSS (custom properties) trong phần tử gốc :root*/
:root {
  --primary-text-color: #171100;
  --secondary-text-color: #5f5b53;
  --background-color: #fffcf4;
  --white-color: #fff;
  --font-heading: Sen, sans-serif;
}
/* :root là selector đại diện cho phần tử gốc của tài liệu HTML (thường là <html>)*/
/* Các biến CSS được khai báo bằng cú pháp --tên-biến */
/* Sau đó, bạn có thể sử dụng lại biến đó ở bất kỳ đâu bằng var(--tên-biến)*/
/* --primary-text-color: Màu chữ chính (đen nâu đậm)*/
/* --background-color: Màu nền (vàng kem nhạt) */
/* --white-color: Màu trắng */

/* Start CSS Header Section */

.header {
  background-color: var(--background-color);
  padding-top: 44px;
  padding-bottom: 44px;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* short hand: "margin: 0 auto;" */
  max-width: calc(100% - 24px);
  /* Cú pháp max-width: calc(100% - 24px); nghĩa là
  lấy 100% chiều rộng full của khung nhìn trừ đi 24 px
  tức là trừ đi 12px ở mỗi bên trái/phải 
  tức là bất kể khung hình có độ rộng bao nhiêu 
  luôn chừa 2 lề 2 bên, mỗi bên 12 px
  Lý do nó luôn trừ đều 2 bên là do mình căn giữa rồi */
}

.btn {
  width: 144px;
  line-height: 50px;
  text-align: center;
  background-color: var(--primary-text-color);
  color: var(--white-color);
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  /* Ở đây sử dụng line-height: 50px; thay cho height: 50px;
  thì chiều cao nút vẫn là 50 px và được thêm cái là 
  chữ Sign Up tự động canh giữa thoe chiều dọc */
  /* Thêm text-align: center; Để canh giữa chữ Sign Up theo chiều ngang */
}

.header .body {
  display: flex;
  align-items: center;
  /* Thêm dòng align-items: center; để căn giữa chữ Sign Up theo trục dọc */
}
/* Định dạng thanh navigation */
.header nav {
  display: flex;
  margin-left: auto;
  /* Thêm margin-left: auto; để kéo thanh navigation qua phải */
  /* Do thằng sign up nó nằm bên phải thanh navigation
  nên khi thanh này bị kéo qua phải, thì nút "Sign Up" cũng bị kéo qua luôn */
}
/* Định dạng từng nút Home/Course/Pricing/Reviews */
.header nav a {
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
  /* Sử dụng padding-left/right 21px ở đây là vì 
  các nút phía trên cách nhau 1 khoản bằng nhau là 42px */
  /* Nút Home đang cách nút course tới 43px là do 
  chữ "Home" nó đậm hơn nên khoản cách no xa ra thêm 1px */
  /* Ở đây dùng margin cũng cách ra được, nhưng phải bấm chính xác vào chữ mới được
  Còn nếu dùng padding thì diện tích bấm tăng ra xung quang, 
  nên chỉ cần để chuột gần chữ là đã bấm được rồi */
}
/* Tạo hiệu ứng bóng mờ khi rê chuột vào chữ */
/* Sử dụng Pseudo class: Lớp giả */
.header nav a:hover {
  color: var(--primary-text-color);
  text-shadow: 1px 0 0 currentColor;
  /* Cú pháp text-shadow trên có nghĩa là:
  bóng dịch sang phải 1px, ko dịch lên xuống
  ko làm mờ và sử dụng màu của thuộc tính hiện tại
  sử dụng "currentColor" để tái sử dụng code
  */
}
/* Tạo hiệu ứng chữ in đậm khi click vào, như chữ "Home" bên trên */
.header nav a.active {
  font-weight: 600; /*Tức là 16px*/
  /* Kiểu thường trên figgma là regular, thường có mức đậm là 400
  Trong bài này chữ này in đâm ở mức "semibold" là trên 2 bậc
  lấy độ đậm là font-weight: 600 */
  color: var(--primary-text-color);
  position: relative;
  /* Thêm position: relative; cho hiệu ứng này, 
để làm mốc tọa độ cho hiệu ứng gạch chân bên dưới
để cái hiệu ứng gạch chân bên dưới đi theo cái hiệu ứng này luôn */
  /* Sử dụng JavaScript để chuyển class="active" này cho nút được click vào
Khi đó nút được chọn sẽ được in đậm lên */
}

/* Tạo hiệu ứng dấu gạch chân nhỏ khi click vào */
/* Sử dụng Pseudo element (Phần tử giả) */
.header nav a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background: var(--primary-text-color);
  display: block;
  /* Do phần tử giả này mặc định display là inline
  Nên để nó hiển thị ở 1 dòng riêng thì đổi lại display: block */
  position: absolute;
  /* Để postion absolute để dthoát phần tử này khỏi luồng dữ liệu */
  top: 23px;
  left: 22px;
  /* Sử dụng top /left để điều chỉnh phần tử đến vị trí mong muốn
  so với mốc tọa độ ở hiệu ứng trên */
}

/* Làm nút sign-up */
/* Ở đây lấy class ="btn-sign-up" để viết nút riêng trước
Nút chung tí mình sửa sau*/
.header .body .btn-sign-up {
  margin-left: 49px;
  /* Thêm margin left 49px ở đây vì 
  khoản cách giữa nút sign up với review trong bài mẫu là 70px
  mà chữ Review đã có padding-right là 21px rồi, 
  nên chữ Sign Up thêm margin-left 49px nữa là được */
}

/* End CSS cho Header Section */

/* Hero section */
.hero {
  background-color: var(--background-color);
  padding-top: 44px;
  padding-bottom: 44px;
}
.hero .main-content {
  display: flex;
}
.hero .left-box {
  width: 48.7%;
  /* Ko dùng px mà dùng % vì nó là đơn vị tương đối
Nó sẽ chia theo kích thước của thiết bị  */
  position: relative;
}

.hero .left-box > img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.hero .left-box .summary {
  width: 270px;
  height: 244px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 24px;
  position: absolute;
  right: 0px;
  bottom: 100px;
}
.hero .left-box .item {
  display: flex;
  /* Để hiện thị icon và chữ nằm ngang */
  align-items: center;
  /* Để căn icon nằm và chữ nằm thẳng hàng với nhau */
  margin: 7px 0;
  /* top margin và bottom margin là 7px, và left-right margin là 0 */
}
.hero .left-box span {
  display: block;
}
.hero .left-box .icon {
  margin-right: 16px;
  /* Chỉ viết margin-right là để nó cách 1 phần chữ ra 16px */
  width: 48px;
  height: 48px;
}

.hero .left-box .course-content span:first-child {
  font-size: 1.4rem;
  line-height: 26px;
}
.hero .left-box .course-content span:last-child {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}
.hero .left-box .summary .item:first-child {
  margin-top: 0px;
}
.hero .left-box .summary .item:last-child {
  margin-bottom: 0px;
}
.hero .right-box {
  width: 51.3%;
  padding-left: 116px;
  /* Dùng padding left thêm ở đây 
  vì phát hiện nội dung cách 1 khoản so với lề trái
  Khoản cách cách ra theo trên figma là 130px
  Nhưng thầy giảm còn 116px để nó thẳng hàng nút Sign-Up bên trên */
}

.hero .right-box h1 {
  width: 488px;
  /* Trong này chỉ set width ko set height */
  /* Số width theo figma là 470px, thầy tăng lên 488px để chữ dồn về 3 dòng */
  /* Chỗ này thầy nó có thể tăng giảm để nó khớp với bài mẫu */
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -2%;
  color: var(--primary-text-color);
}

.hero .right-box .desc {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--secondary-text-color);
  margin-top: 28px;
  /* Khoản cách với tiêu đề là 28px */
  margin-bottom: 38px;
  /* Khoản cách với 2 nút bên dưới là 38px */
}

.hero .right-box .call-to-action {
  display: flex;
}
.hero .right-box .btn-see-courses {
  width: 180px;
  line-height: 64px;
  background-color: #ffb900;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  height: 64px;
  /*Chỗ height: 64px; này phải thêm vào để nó set height về 64px
  Nếu ko để,thì nó tự động tính sao đó ra height=81px*/
  font-weight: 600;
  font-size: 1.8rem;
}

.hero .right-box .btn-watch-video {
  display: flex;
  background: none;
  border: none;
  align-items: center;
  margin-left: 28px;
  /* Thêm margin-left để cách nút "See Courses" ra 1 khoản 28px */
}

.hero .right-box .btn-watch-video span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  margin-top: -10px;
  /* align-items: center; */
  /* Cái margin-top: -10px; là thầy canh bằng mắt,
tự điền vào để đẩy chữ vào giữa thôi,sử dụng margin-top: -10px ko được */
}

.hero .right-box .recent-engagement {
  display: inline-block;
  width: 186px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  color: var(--secondary-text-color);
  margin-top: 48px;
}

.hero .right-box .stats {
  display: flex;
  margin-top: 8px;
}

.hero .right-box .stats > .item {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 54px;
  color: var(--primary-text-color);
}

.hero .right-box .stats > .item:last-child {
  margin-left: 29px;
}

.hero .right-box .stats span {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--secondary-text-color);
  padding-left: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
